singularity.autoMounts = true

env {
  R_PROFILE_USER = "/.Rprofile"
  R_ENVIRON_USER = "/.Renviron"
  PYTHONNOUSERSITE = 1
}

process.container = 'ubuntu:bionic'
singularity.cacheDir = "$projectDir/singularity_containers/"

includeConfig "$projectDir/params.config"


profiles {
    awsbatch {
      includeConfig 'conf/awsbatch.config'
    }
    local {
      includeConfig 'conf/local.config'
    }
    sge {
      includeConfig 'conf/sge.config'
    }
    slurm {
     includeConfig 'conf/slurm.config'
    }
    ci {
      includeConfig 'conf/ci.config'
    }
}

